body {
    font-family: sans-serif;
    font-weight: 100;
    --grey-100: #e4e9f0;
    --grey-200: #cfd7e3;
    --grey-300: #b5c0cd;
    --grey-800: #3e4e63;
    --grid-gap: 1px;
    --day-label-size: 50px;
}

ol,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.calendar-month {
    position: relative;
    background-color: var(--grey-200);
    border: solid 1px var(--grey-200);
}

.calendar-month-header {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px;
}

.calendar-month-header-selected-month {
    font-size: 24px;
    font-weight: 600;
}

.calendar-month-header-selectors {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80px;
}

.calendar-month-header-selectors>* {
    cursor: pointer;
}

.day-of-week {
    color: var(--grey-800);
    font-size: 24px;
    background-color: #fff;
    padding-bottom: 5px;
    padding-top: 10px;
}

.day-of-week,
.days-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.day-of-week>* {
    text-align: center;
    /* padding-right: 5px; */
}

.days-grid {
    height: 100%;
    position: relative;
    grid-column-gap: var(--grid-gap);
    grid-row-gap: var(--grid-gap);
    border-top: solid 1px var(--grey-200);
}

.calendar-day {
    position: relative;
    min-height: 200px;
    font-size: 16px;
    background-color: #fff;
    color: var(--grey-800);
    padding: 5px;
}

.calendar-day>span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 2px;
    font-size: 22pt;
    font-weight: bold;
    width: var(--day-label-size);
    height: var(--day-label-size);
    background-color: var(--grey-800);
    color: white;
}

.calendar-day .content {
    text-align: center;
    font-size: 30pt;
    align-content: center;
    align-items: center;
}

#selected-month {
    width: 100%;
    text-align: center;
    font-size: 40pt;
}

#selected-month p {
    width: 100%;
    text-align: center;
    font-size: 30pt;
    margin: 0;
    padding: 0;
}

.calendar-day p {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-settings {
    padding: 15px;
    background: white;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.other-month {
    opacity: 0.85;
}

@media print {
    .no_print {
        display:none !important;
    }

    .calendar-day p:empty {
        display: none;
    }
}